/node_modules
/public/hot
/public/storage
/public/images
/storage/*.key
/vendor

.env
.env.backup
.phpunit.result.cache
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

!*placeholder-0.jpg
!*placeholder-1.jpg
!*placeholder-2.jpg
!*placeholder-3.jpg
!*placeholder-4.jpg
!*placeholder-5.jpg
!*placeholder-6.jpg
!*placeholder-7.jpg
!*placeholder-8.jpg
!*placeholder-9.jpg
