@import "common/variables";
@import "common/global";
@import "layout/header";
@import "components/buttons";
@import "components/paginate";
@import "layout/login";
@import "layout/filter";


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $brand-primary;
  padding: 15px 30px;
  position: relative;

  h2 a {
    color: $white;
    text-decoration: none;
  }

  .circle {
    border-radius: 45px;
    border: solid 2px $white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20px;
    width: 20px;
    overflow: hidden;

    i.fa-user {
      color: $white;
    }
  }

}

.admin-wrap {
  display: flex;
  min-height: calc(100vh - 65px);

  .content {
    padding: 15px;
    width: 100%;
  }
}

ul.sidebar,
ul.submenu {
  display: block;
  list-style-type: none;
  padding-left: 0;

  li {
    a{
      text-decoration: none;
    }
  }
}

ul.sidebar {
  width: 240px;
  background-color: rgba($brand-primary, 0.8);
  box-shadow: -1px -6px 38px -16px rgba(0,0,0,0.75);

  ul.submenu {
    li {
      visibility: hidden;
      opacity: 0;
      transition: $base-transition;
      height: 0;

      a {
        padding: 15px;
      }
    }
  }

 li.menu-item {
   a.menu-title {
     display: block;
     padding: 15px;
     color: $white;
     font-weight: $h1-weight;
     border-bottom: solid 2px #fff;
     position: relative;
     z-index: 999;

     &:hover,
     &:focus {
       background-color: rgba($white, 0.2);
     }
   }

   &.active {
     color: red;

     ul.submenu {
       li {
         visibility: visible;
         opacity: 1;
         height: 55px;
         background-color: $white;

         a {
           display: block;
           color: $black;
           font-weight: $h1-weight;
           border-bottom: solid 2px #fff;

           &:hover,
           &:focus {
             background-color: #efefef;
           }
         }
       }
     }
   }
 }
}

.btn-view-property {
  margin-bottom: 15px;
}

form {
  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
    }

    .form-control {
      display: block;
      width: 300px;
      max-width: 100%;
      border: solid 1px #efefef;
      font-size: 14px;
      font-family: $primary-font;
      padding: 5px 10px;
      box-sizing: border-box;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;       /* Remove default arrow */
      background: url('/images/caret-down.png') 96% / 15px no-repeat #fff;
    }

    &-files {
      margin-top: 30px;

      .form-group-media {
        margin-bottom: 15px;
      }

      h3 {
        margin: 15px 0;
      }
    }
  }

  .form-newState,
  .form-newTown {
    padding-left: 15px;
  }

  h2 {
    margin: 30px 0 15px;
  }

  .town,
  .form-hidden {
    display: none;
  }

  .town-show {
    display: block;
  }

  .img-wrap {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 125px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    span.featimg {
      position: absolute;
      top: 5px;
      left: 5px;
      height: 20px;
      width: 20px;
      cursor: pointer;

      &::before {
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        color: rgba($white, 0.7);
        content: "\f005";
        transition: 0.3s;
        position: absolute;
      }

      input[type=radio] {
        opacity: 0;
        position: relative;
        z-index: 999;
        height: 20px;
        width: 20px;
      }
    }

    span.featured-true {
      &::before {
        font-weight: 900;
        color: rgba($yellow, 1.0);
        text-shadow: 2px 2px 6px #000000;
      }
    }

    span.beleted {
      position: absolute;
      top: 5px;
      right: 5px;
      height: 20px;
      width: 20px;
      cursor: pointer;

      i {
        color: white;
        position: absolute;
        top: 4px;
        left: 2px;
        transition: 0.3s;
        cursor: pointer;
      }

      input[type=checkbox] {
        display:none;
        cursor: pointer;

        + label {
          cursor: pointer;
        }

        + label:before {
          font-family: "Font Awesome 5 Free";
          display: inline-block;
          color: rgba($white, 0.7);
          content: "\f057";
          transition: 0.3s;
          position: relative;
          z-index: 999;
          cursor: pointer;
        }

        + label:after {
          display: block;
          content: " ";
          background-color: rgba($white, 0.0);
          height: 20px;
          width: 20px;
          position: absolute;
          top: 2px;
          right: 2px;
          border-radius: 45px;
          cursor: pointer;
        }

        &:hover,
        &:focus {
          + label:before {
            font-weight: 900;

            &:before {
               color: rgba($red, 0.7);
             }

             &:after {
               display: block;
               content: " ";
               background-color: rgba($white, 0.7);
               height: 20px;
               width: 20px;
               position: absolute;
               top: 2px;
               right: 2px;
               border-radius: 45px;
             }
          }
        }
      }

      input[type=checkbox]:checked {
        + label:before {
           color: $red;
           font-weight: 900;
        }

        + label:after {
          background-color: $white;
        }
      }
    }
  }
}

.property-delete {
  a.delete {
    color: $red;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  form.form-delete {
    display: none;
    padding: 15px;
    margin: 30px 0;
    -webkit-box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);

    label,
    input {
      display: inline;
      // font-size: 18px;
      font-weight: 900;
      color: $red;
      margin-bottom: 0;
      margin-right: 10px;
    }

    input {
      color: $white;
    }
  }
}

.alert {
  position: relative;

  span {
    position: absolute;
    top: 15px;
    right: 0;
    display: block;
    padding: 15px;
    border-radius: 15px;
    background-color: $red;
    color: $white;
  }
}

table {
  th,
  td {
    padding: 10px;
    line-height: 1;
  }

  th {
    background-color: $brand-primary;
    color: $white;

  }

  tr {

    &:nth-of-type(even) {
      background-color: #efefef;
    }
  }
}
